@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ECECE9 !important;
}

.logo {
    padding-top: 1rem;
}

h3 {
    font-family: 'RobotoCondensed-Regular';
    font-size: 2rem;
}

.img-fluid {
	max-width: 100%;
	height: 100px;
	position: absolute; 
	top: 0; 
	left: 0;
}
